name: labrabotat52-h2o-Debug

on:
  push:
    branches: [ main,testing ]
  pull_request:
    branches: [ main,testing ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Install gtest manually
      run: sudo apt-get install libgtest-dev && cd /usr/src/gtest && sudo cmake CMakeLists.txt && sudo make && sudo ln -s /usr/lib/libgtest.a /usr/local/lib/libgtest.a && sudo ln -s /usr/lib/libgtest_main.a /usr/local/lib/libgtest_main.a
    - name: Install sqlite3 manually
      run: sudo apt install sqlite3
    - uses: actions/checkout@v1
    - name: configure
      run: mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Debug ..
    - name: make
      run: cd build && make
    - name: Run Test
      run: /home/runner/work/labrabota5t2-h2o/labrabota5t2-h2o/build/test/labrabota5t2-h2o.test
  
